.badgeContainer {
  display: flex;
  width: 100%;
  margin-bottom: 0.5rem;
}

.badgeContainerCentered {
  width: 100%;
  padding-left: 0;
  justify-content: center;
}

.badgeLogo {
  width: 10rem;
  height: auto;
  object-fit: contain;
}

.badge {
  color: var(--white);
  width: max-content;
  padding: 5px 20px;
  padding-top: 6px;
  font-family: var(--font-nohemi);
  font-size: 0.7rem;
  text-transform: uppercase;
  line-height: 1.1;
  font-weight: 300;
  border-left: 1px solid var(--white);
  border-right: 1px solid var(--white);
}

.badgeDark {
  color: var(--black);
  border-left: 1px solid var(--black);
  border-right: 1px solid var(--black);
}

.text {
  margin: 0;
}
